
:root{
    --header-height: 3rem;
    --button-size: 2rem;

    --clr-back: whitesmoke;
    --clr-accent: hotpink;

    --border-width: 1.5px;
    --border: var(--border-width) solid black;
}

body,
button,
input,
select{
    font-family: monospace;
    font-size: 0.825rem;
    color: black;
}

/*  LAYOUT DIVISIONS
    ============================================================     */

#interface-header{
    background-color: var(--clr-back);
    border-bottom: var(--border);
    
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    
    height: var(--header-height);
}
#interface-content{
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr auto;
}
#interface-content > *{
    height: 100%;
}
#interface-content > *:not(:first-child){
    border-left: var(--border);
}

iframe{
    width: 100%;
    height: 100%;
}

details{
    position: relative;
    width: 50vw;
}
details:not([open]){
    width: 0;
}

details main{
    height: 100%;

    display: flex;
    flex-direction: column;
}
details main > *{
    flex-grow: 1;
    min-height: 0;
    height: auto;
}
details main > .expert-mode{
    flex: 0 0 auto;

    padding: 0.5rem;
    background-color: var(--clr-back);
    border-top: var(--border);
}

.flex-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

/*  TYPOGRAPHY
    ============================================================     */

a{
    color: var(--clr-accent);
    font-weight: bold;
}
label{
    opacity: 0.5;
}
label + *{
    margin-left: -1rem;
}

/* header typo */
#interface-header a{
    text-decoration: none;
}
h1{
    font-weight: bold;
}
#interface-header hr{
    border: none;
    margin-right: auto;
}

/* index grid */
.text-content{
    padding: 1rem;
    line-height: 1.4;
}
.text-content p + p,
.text-content p + ul,
.text-content ul + p,
.text-content ul + ul{
    margin-top: 1rem;
}
.text-content h1,
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6{
    font-weight: bold;
    margin: 1rem 0;
}
.text-content ul ul{
    padding-left: 2rem;
}


/*  UI ELEMENTS
    ============================================================     */

button, 
select,
details summary{
    background-color: var(--clr-back);
    border: var(--border);
    height: var(--button-size);
    box-sizing: border-box;
    cursor: pointer;
}
button:hover,
select:hover,
details summary:hover{
    background-color: white;
}

input[type=number]{
    width: 2.5rem;
}

button{
    padding: 0 1em;
    border-radius: 5em;
}

details summary{
    width: var(--button-size);

    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--border);
    top: calc(var(--border-width) * -1);

    margin: 0.5rem 1rem;
    border-radius: 50%;

    position: absolute;
    right: 100%;
}
details summary::-webkit-details-marker {
    display:none;
}
::marker{ display:none; } 
summary{ list-style: none }

details summary::after{
    content: '▶';
}
details:not([open]) summary::after{
    content: '◀';
}

#dot-button{
    width: var(--button-size);
    padding: 0;
    text-align: center;
}





