{% extends "base.html" %}

{% block body %}

    <header id="interface-header" class="flex-line">
        <h1>index</h1>

        <hr>

        <button id="md-button" onclick="document.getElementById('md__frame').contentWindow.location.reload()">md</button>
    </header>

    <main id="interface-content">
        <div class="index">
            <iframe id="md__frame" src="/index--md"></iframe>
        </div>
        <details class="ehterpad" open="">
            <summary></summary>
            <iframe id="ehterpad__frame" src="{{pad}}"></iframe>
        </details>
    </main>

{% endblock %}

