{% extends "base.html" %}

{% block title %}{{super()}} · {{id}}{% endblock%}

{% block body %}

    <header id="interface-header" class="flex-line">
        <label>back</label>
        <a href="/">index</a>

        <label>graph</label>
        <h1>{{id}}</h1>
        
        <button id="print-button">print</button>

        <hr>

        <label>engine</label>
        <select id="engine-select" name="engine">
            {% for engine in engines %}
                <option value="{{engine}}">{{engine}}</option>
            {% endfor %}
        </select>
        <button id="dot-button">•</button>

    </header>
    
    <div id="interface-content">
        <div class="graph">
            <iframe id="graph__frame" src="/{{id}}--svg?engine=dot"></iframe>
        </div>
        <details class="ehterpad" open="">
            <summary></summary>
            <main>
                <iframe id="ehterpad__frame" src="{{pad}}"></iframe>
                <div class="expert-mode flex-line">
                    <label for="labeltw-checkbox">label text-wrapping</label>
                    <input type="checkbox" id="labeltw-checkbox">
                    <label>max char</label>
                    <input type="number" id="maxchar-input" name="maxchar" min="0" max="64" value="32">
                </div>
            </main>
        </details>
    </div>

    <script src="static/js/interface.js"></script>
    
{% endblock %}